html {
  margin-top: 2%;
  margin-bottom: 7%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif;
}

h1 {
  font-weight: normal;
  font-size: xx-large;
}

.content {
  font-size: x-large;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
