html {
  margin-bottom: 5%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif;
}

p ul{
  font-size: 5vmin;
}
  
.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
