html {
  padding: 2%;
}

* {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif;
  font-size: 10vmin;
}

p ul{
  //font-size: 10vmin;
}
  
.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
