html {
  margin: auto;
  padding-top: 2%;
  padding-bottom: 7%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif;
}

p ul{
  font-size: 10vmin;
}
  
.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
