body {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: 'Song', serif;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1 {
  font-weight: normal;
  font-size: xx-large;
}

.content {
  font-size: x-large;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: dimgray;
  text-decoration: none;
}
