html {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif, STFangSong, FangSong, STSong, NSimSun, SimSun;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.graya {
  color: gray;
  text-decoration: none;
}
