* {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: STFangsong, FangSong, serif;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul li
{
    background-repeat: no-repeat;
    background-position: 0px 5px; 
    padding-left: 14px; 
}
