body {
  width: 100%;
  hight: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: 'Song', serif;
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.content {
  font-size: 1.6em;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: dimgray;
  text-decoration: none;
}
