* {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: STFangSong, SimSun, serif;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
