@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

body {
  margin: 0;
  padding: 20px 0 30px 1px;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: 'Noto Serif TC', serif;
  text-align: justify;
  font-size: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.content {
  font-size: 1.5em;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.graya {
  font-size: 0.8em;
  color: dimgray;
  text-decoration: none;
}

.gray {
  color: dimgray;
  text-decoration: none;
}
