html {
  margin-top: 5%;
  margin-bottom: 7%;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-family: serif;
}

.content {
  font-size: 5vmin;
}

.bluea {
  color: blue;
  text-decoration: none;
}

.gray {
  color: gray;
  text-decoration: none;
}
